/* Reset padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para as fontes Poppins */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    height: 100vh;
}

/* Estilos gerais */
.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* Botões */
.btn-contato button, .btn-cv {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #eee1e6;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.btn-contato button:hover, .btn-cv:hover {
    box-shadow: 0px 0px 8px #B9366D;
    transform: scale(1.05);
}

/* Estilos para o header */
header {
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #757575;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: #B9366D;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

/* Estilo do topo do site */
section.topo-do-site {
    padding: 40px 4%;
}

.topo-do-site .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #B9366D;
}

.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    position: relative;
    top: 0;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }
    100% {
        top: 30px;
    }
}

/* Estilos para a seção "Sobre Mim" */
#sobre-mim {
    padding: 40px 4%;
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
}

#sobre-mim h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#sobre-mim p {
    font-size: 18px;
    margin: 10px 0;
}

#sobre-mim .btn-cv {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #B9366D;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

#sobre-mim .btn-cv:hover {
    background-color: #E03C00;
}

/* Estilos para a seção "Especialidades" */
section.especialidades {
    padding: 40px 4%;
}

.especialidades h2 {
    font-size: 36px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.especialidades h2 span {
    color: #B9366D;
}

.especialidades .carousel-item {
    height: 60vh;
}

.especialidades .carousel-item img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.especialidades .carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
}


/* Estilos para a seção de formação */
section.formation {
    padding: 40px 4%;
    background-color: #000;
}

.formation h2 {
    font-size: 36px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.card {
    background-color: #333;
    color: white;
    width: 80%;
    margin: 1rem auto;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.card h2 {
    margin-top: 0;
}

.card ul {
    list-style: none;
    padding: 0;
}

.card ul li {
    margin-bottom: 0.5rem;
}

.card button {
    background-color: #B9366D;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.card button:hover {
    background-color: #E03C00;
}


/* Estilos para a seção de habilidades */
#skills {
    padding: 40px 4%;
    background-color: #000000;
    color: #fff;
    text-align: center;
}

#skills h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skill-card {
    background-color: #242323;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: left;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
}

.skill-card h3 {
    margin-top: 0;
    color: #b9366d;
}

.skill-card ul {
    list-style: none;
    padding: 0;
}

.skill-card ul li {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skill-card ul li span {
    display: inline-block;
    width: 60%;
    background-color: #fff;
    border-radius: 5px;
    height: 10px;
    margin-left: 10px;
    position: relative;
}

.skill-card ul li span::after {
    content: '';
    display: block;
    height: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

.skill-card ul li .star-5 span::after { width: 100%; }
.skill-card ul li .star-4 span::after { width: 80%; }
.skill-card ul li .star-3 span::after { width: 60%; }
.skill-card ul li .star-2 span::after { width: 40%; }
.skill-card ul li .star-1 span::after { width: 20%; }

.skill-card img {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

/* Seção habilidades círculo */
.circle {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
}

.circle img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.skills-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}
/*letras do circulo*/
.skill-item {
    position: absolute;
    background-color: #E03C00(255, 255, 255, 0.6);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    transform: translate(-50%, -50%);
}

.skill-item.top { top: 5%; left: 50%; }
.skill-item.top-right { top: 15%; left: 85%; }
.skill-item.right { top: 50%; left: 95%; }
.skill-item.bottom-right { top: 85%; left: 85%; }
.skill-item.bottom { top: 95%; left: 50%; }
.skill-item.bottom-left { top: 85%; left: 15%; }
.skill-item.left { top: 50%; left: 5%; }
.skill-item.top-left { top: 15%; left: 15%; }

/* Centralização */
.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /* Espaço entre os skill cards */
}

.skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333; /* Fundo do card */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skill-card h3 {
    margin-bottom: 10px;
}

.skill-card p {
    margin: 5px 0;
}

.skill-card img {
    margin-top: 10px;
    width: 100px;
    height: auto;
}

/* Estilos da seção de contato */
#contato {
    padding: 40px 4%;
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
}

#contato .contact-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

#contato h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#contato p {
    font-size: 18px;
    margin-bottom: 40px;
}

#contato .icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#contato .icons img {
    width: 40px;
    margin: 0 10px;
    transition: transform 0.3s;
}

#contato .icons img:hover {
    transform: scale(1.1);
}

.contact-image {
    width: 100px;
    margin: 20px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#contato .form-container {
    background: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

#contato .form-group {
    margin-bottom: 20px;
}

#contato .form-group label {
    display: block;
    margin-bottom: 5px;
}

#contato .form-group input,
#contato .form-group textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #fff;
    font-size: 16px;
    color: #333;
}

#contato .form-group input:focus,
#contato .form-group textarea:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(185, 54, 109, 0.5);
}

#contato input[type="submit"] {
    background-color: #B9366D;
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contato input[type="submit"]:hover {
    background-color: #E03C00;
}
/*portifolio*/
/* Centralizar o conteúdo */
.interface {
    text-align: center;
  }
  
  /* Estilo do título */
  .titulo {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .titulo span {
    color: #b9366d; /* Cor verde para o texto "PORTIFÓLIO" */
  }
  
  /* Layout flexível para as imagens */
  .flex {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaçamento entre as imagens */
  }

  /* Estilo do separador */
  .separador {
    border: none; /* Remove a borda padrão */
    height: 2px; /* Altura da linha */
    background-color: #706f6f; /* Cor da linha (branca) */
    margin: 20px 0; /* Espaçamento acima e abaixo da linha */
  }
  /*portifolio2*/
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* Fundo preto */
    color: #fff; /* Texto branco */
  }
  
  .portfolio {
    padding: 20px;
  }
  
  .project {
    background-color: #333; /* Cor de fundo dos projetos para contraste */
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  
  .project-title {
    color: #e74c3c;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .project-icons img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
  }
  
  .project-description {
    font-size: 16px;
    color: #ccc; /* Texto de descrição com cor mais clara para legibilidade */
    margin: 20px 0;
  }
  
  .project-links {
    margin: 20px 0;
  }
  
  .project-button {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
  }
  
  .project-button:hover {
    background-color: #c0392b;
  }
  
  .project-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  @media (min-width: 768px) {
    .portfolio {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  
    .project {
      width: 45%;
    }
  }

  